version: "3"
services:
  postgres:
    ports:
      - '5436:5432'
    restart: always
    image: postgres:9.6.5-alpine
    volumes:
      - ./server/db/postgres-initdb.sh:/docker-entrypoint-initdb.d/init.sh
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - data-volume:/data/db
volumes:
  data-volume:
