@import '../../styles/layout/colors';

.file-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(141, 153, 174, .6);
  display: flex;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }

  &__box {
    padding: 1.5rem 4rem 2.5rem;
    background-color: $white;
    border-radius: .5rem;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
  }

  &__title {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 2rem;
  }

  &__input {
    text-align: center;

    label {
      cursor: pointer;
      font-size: 1.6rem;
      color: $light-blue;
    }

    input {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }
  }

  &__btn {
    padding-top: 2rem;
  }

  &__invalid {
    font-size: 1.6rem;
    color: $red;
    text-align: center;
  }
}
