@import '../../styles/layout/colors';
@import '../../styles/layout/mixins';

.form {
  min-height: calc(100vh - #{$headerHeight});
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;

  &__title {
    margin-bottom: 50px;
  }

  &__wrapper {
    width: 369px;
    min-height: 450px;
    background: $light-grey;
    text-align: center;
    padding: 48px 44px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  &__link {
    color: $light-blue;
  }

  &__row {
    margin-top: 15px;
    text-align: left;
  }

  &__row-button {
    margin: 15px 0 10px;
  }
}
