@import '../../styles/layout/colors';
.login {
    position: absolute;
    width: 369px;
    height: 512px;
    top: calc(50% - 512px/2 + 7px);
    background: $light-grey;
    vertical-align: center;
}

.body {
    text-align: center;
    display: flex;
    justify-content: center;
}

.link {
    color: $light-blue;
}

.row {
    margin-top: 15px;
}

.title-input {
    width: 280px;
    text-align: left;
    margin-left: 44.5px;
    margin-right: 44.5px;
}