.table {
  margin-bottom: 20px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid $grey;
    align-items: center;

    &_header {
      color: $light-blue;
      border-top: none;
      cursor: default;
    }
  }

  &__item {
    width: 70px;
    padding: 8px 5px;
    text-align: center;

    &_main {
      flex: 1 1 auto;
      text-align: left;
    }

    &_message {
      width: 90px;
    }
  }

  &__avatar,
  &__page {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: 50% 50%;
    margin: auto;
  }

  &__avatar {
    background-color: #efefef;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMzYgMkg0QzIuODk1IDIgMiAyLjg5NTQgMiA0VjI1LjI2NjdMMTQuNjU1IDIyLjMxMzlDMTUuNTQ5IDIyLjEwNTMgMTYuNDY0IDIyIDE3LjM4MSAyMkgyMi42MTlDMjMuNTM2IDIyIDI0LjQ1MSAyMi4xMDUzIDI1LjM0NSAyMi4zMTM5TDM4IDI1LjI2NjdWNEMzOCAyLjg5NTQgMzcuMTA1IDIgMzYgMlpNNCAwQzEuNzkxIDAgMCAxLjc5MDkgMCA0VjM2QzAgMzguMjA5MSAxLjc5MSA0MCA0IDQwSDM2QzM4LjIwOSA0MCA0MCAzOC4yMDkxIDQwIDM2VjRDNDAgMS43OTA5IDM4LjIwOSAwIDM2IDBINFpNMTAuOTA5IDE0LjU0NTVDMTIuOTE3IDE0LjU0NTUgMTQuNTQ1IDEyLjkxNzQgMTQuNTQ1IDEwLjkwOTFDMTQuNTQ1IDguOTAwOCAxMi45MTcgNy4yNzI3IDEwLjkwOSA3LjI3MjdDOC45MDEgNy4yNzI3IDcuMjcyOTkgOC45MDA4IDcuMjcyOTkgMTAuOTA5MUM3LjI3Mjk5IDEyLjkxNzQgOC45MDEgMTQuNTQ1NSAxMC45MDkgMTQuNTQ1NVoiIGZpbGw9IiNDRENEQ0QiLz4NCjwvc3ZnPg0K');
    background-size: 25px 25px;
    position: relative;
    overflow: hidden;
  }

  &__page {
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAA8CAYAAAAuaUeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAA+OSURBVHgB7Vt7bBzFGf9mH/ewL/Y5LyduHk5iEkgKsXBBpRQcSJGaVogUKfQP+lYqtSqlregfDalIUlEJ+g+vCERbHm1CVaBNSCtKQFUSHm0phJBAHkAeOMGJTeLEjhPbd3u7O/19s7vn9fnOPvvOwUj9rPHMzs7Ozvz2N998882coAsoUsokoiSVT7qEEF10gUTQGIkPzHKERoRmhHoqL1Bh2Y3QgrAD4WUAuJvGQMoKVufmZLKly/02mVOXx2sWLfHegFcI3YtJ8wJfI5YqreGWVtamOFZ3S/fJ159Mpbr/cN0Pu1qoTFKWFm5/IplsnNz702jU/QkwKcgeDW+LGDL/TQZMGEiYHpia6V2rEKT1PHlGFnyvDv+DxBfQqdRn6KO9Tz9pdR1cd1UZQCsVLNH3kvnttq6K+1ypJQd2UA/FEeqxKulcxwFqmJ6i2mSGLojE51PnpDW076UfkCtpXfOPutZSCTJasITcnqyWdO45MKm5qCeis2l/ey11n9xPly6qJy1SkdMEMUTzZPZaFiybvxpZ8xX68P1/k2unafqi77T02j3X11/8/Q9pFDIasACUuZiEu5k8pV20ZBLN9ObOdykx9VJqWPpgzuuF/1/4yVygchqRF2RBebvE+lJKFbce2UzdXcd+1tT80AMFKy8gBo1MAJTR7AM14pnNPP8KzZx3Ax09+B86376Xps7/Ol1okdKkikTdfTxbY9ZcRyMATCu2ICoX9o74coaLRm0CSKqraqdYoo6OvPYLcjI9dKFF9mOzxnGctTSC0VUUWAxUJpNp1Gf9/HEqUfS+d6jh4kay0110+JWf04UXmYVH07S7GDDuXzFPFgOWSKVSc0zT3ERarCxGZdL9F02e9UU6deivdKZlK32SwoBZlvW1YgAbUmdxBSzRaJQZVU/lklQrzZ29BKbEZDq448dUM+sG0s3KvEU1ZUP5IsLfNnciEEqPm/Faqr3kG2REC33XwSoqEok8dvbsWbb6P6QhdNhQYCmgMPx+ikiZB65WSa4+HdW5aJoF9eX4cZpGOLFQ5PRGuuLz3yHbmBnqhPRmray4oWsZeoX07gVp2HEpbTq1Hvovte5eT8f3rKfLlj9Psep5g1+cv5nJqqoqJsT10mNI3kJDgtXV1TXHMIwfBxmOSJJlzh9YSHXCIk2mAJpFunsa4RzSvTSstD854um4kCTQkgXz78RSp5k6W1+mYzt/Q/OXPjqonKfgB4PBhEB/r0e8DXi5+QArpLPEihUrxIQJE+6iYYafZLhElBytmmx9CqXNi6k3egXC55FegPwaujCClhz7Nc2Yd4W66j65q0C5wqoJ7Pp9U1OTLgpQSytQm3bPPffMhfL7Fo1SGEBbn0apyGUA7how8iLkVdJYiylPegnXKVDCLfgsMJr92muvcZ/zkmhQpvR0hFZbW7ucyiQSijmj1wG0zwG8z5EDBsKIoDER6VApgln/W2CXvxofKLkZ4pZbblEFKyoqfkRjIA4miZS5kPqiTYp5ZZcSwdJ1/doXX3xxCWSQ32gQekeOHNFOnDixhClJYyiuiCud1gfd5mhTqGwyLFjDz9qVlZXNO3bsGBYs8dZbbwkouuI8CWUQF7otFVmI0IR0gkqWEpnFAnZx/zWe5ML5A6w8pt6MGTN0GGnX0AUWR0uAZZeTZcyDjivBoJA2lSrQW1985JFHJvEoC1v2A5gF6onW1lYdttWl9ImIoIwxg/qYZTBFRielM4tl6dKljbDqtbAZkQULlNMaGhq0LVu2zMX90ba0LCJFDIA1Arh6GoFjxH94GGYVudCAjTn70KFDmq/olWT5/uyzz3Ik5s2bN6aKfSRiGbPJ1iZSLLPPX1IVIa41TIHi0MJQrEekY7SxD5zZJRVq/rjkoGMtOMJPObbiahPUsHQAWnEPDAdWcRKLxXjRqswo3/aknGU8aTU1NbNonInETk4q8lnYZfVFFC6SgcMI/FwBgUSgtxRY69aty94AiuOKWf0iYJfNhh6bQ0M6N4dhVrG+ESz1VAQ93p/H/9auXUvIVMzCDHCOxrFYxixlzBYUOcwwlMXBxeoISl6D4zOr5LMKHpqfkskkx8cXL15M41lsvVbFkcwhcCxn9iuTzgJIrefOnRMIBHPKWzDzP59ZBH+OOHr06LhmViAMWBprTJnrEZPlmQ3T6XQ3mMXJrCs2CxYzi+WOO+44DuX2qQDM0WsoHblkYP/LxKwPPvjgPY6nT5/OUb/pkCOyt7f3AH1KhE2KdCTkvR1mNixWwW/YsOEAD8G2tjY22NVjRk49yrnd0dHxBih4ZZH1kqbHSCDoegRcjfgHNEI7yq4Lt30a07GFOAO/XEr58cslNvYFNDdFpnOsLMyCvjqwcePGs+Rj4hvsHlghJz33wN29e/ebc+bMKViZgN1jRKsQaoBLFKE4R54ZJDAjSXTKcfrgMz+PzdZuXJe2ALbMObyy5PNGVKqcPn36TURudXW1C+tAgllqhaPA8oHKMuvmm29+3bbtc3BVTAhXohlxilXVY9uKs0s4gIP3CT1KBoeIt2Ul0Uk7fYYyaQYuRaORNDZTZOYIUqUBtn79+g3cJADF5GFm9c+GvjnP/5xEIuFin9CFe2JjbiV6pApAVVFJQBUQgSFsVkyjiuRF+CBzyQSIQozcPrbUkm4oGVpr9fT0vI/9h4/Ic1+4CxcuDEg0YLkj4cuS58+fdzBtOrfffvuGT2RWBOt0M0GRCbMonlxAkYrpGObF+7eGtTmlV8gtoDP37NnDJHH8IKdOnZotqHntE6oKGF+uX8jetm3b2YMHD/6JPkERmokd5ilg2yUUqZxWHGhFuJXZb2BnbF7/BaNKCUhy4uqrr34Oi2j2NNggjwOvQ15msQRgZSzLytx2221PjQubC2wzY1MBGjNtGNCKmGUZIAdbZbZjqzhg2RtvvMG7sjZmQxurGQegKZ0VPKeFKlDKHWjytJRBQevVV1/t3LVr1+9ovIjQwbSpFK9uwMRQlb9MwBS7U+1405mt1Hv6HbJ62hRIZmQSVU26AgTEUHRcxS6Ojx079vy11177NzypWAW9nYGhPgCs7CcKDUU1DLHqzgDhzJVXXvnUmTNnlsB1czmNE2FbLjqhngyrm9I9J5QZkisyc4bo/ZUqfeBQJfVZGs2+7mmaWLeCdJg6DJKOPxd/GH5t995776PYe7B4RGHDJhOPxx2YDG4wE7LkDsPgxEUGVrzF7EIFmVWrVv0KwLXROBOenSuqL4K9N9gxaMGHacMlJT2bGGVryKha4A07ZASB2fbCP164/+GHH/6IkeJHu7u7My0tLe6iRYsGTBf5rMnALtAAFLsoDGyP9QHpPV9onHiDZh2N0HgSmBc8JDXYbK59Hoo7Qx0dp7xbgv1Skk6cidGky9ZQrHqhRw/O982Svfv2PrZs2TI20fv8wEYeg2b7yj0rgwwZLKoD3WXBKE37D6fhIDyw7Z8vPkDjVPg8Vhwsc0Jn0j7qiNDe49Oo5rO/pPhnvqwUOTOJ/zj9zrvvPH7VVVf9FqRIYxSpfiJYsK0cPklDOUZZIetSwwPGyZMno1gn8mmOSlRYCZbGnnnoK9d/7UsNqw1DK8OOaHmFgdi3ayt1dXaQXllP8SnXUWLONzFEErxxqoKBmVQzNHpv/3uPNy9p5slLMaqiouI8VA8fclWAUZ4TJIXACn47whNAHIEPrSf8OLZyxWUzHly37KF4RWKad8YsdNBMBkdc+euF8/yLUHnZn1GysAL/uKOLuvtiFANIRmIWwAEwuqZAUjEUu4G8nTt3PnjjjTf+GTs4aXhE+SBZjx+CIagMUsoDSiHhHWreCopgdohB6TFQlXhBHC+Irly5cubq1au/N3PWzGVYRyrFGZ6O+VoF21HXNhbKfE8pVi4T3HO9+5xfivD6VrFH07MsYj96EDObbMtux07znffff/97aHOgYgKgmGEZqCEbIW9jhlvkMbt4EmClHqV+hsUAWhS0N7b8fctXr7n6mu+aEXOasogDwHyw2PDjawWW7SpdkbVv3FDsz1JSjpxmrKwD5gRM0oWXFrpQ+fsP7H9i9arVz7799tv8k7swUMysPniK2a5iG7PgEmA43wq7J8T+/fsZaeUtxKxI+CqCO4ZGiQ1/3HB4+/btWxsXN2Zg9U7D1r+ny7Kjrn/4eTXw1pZUv5AIfk2hvB7+DCVGsEgfwKYwo4QHGAPVdrzthbvvvvuXd66685X29vZeHnpoewoKvRf96Js8eXKqrq4uAGpIehfTMj4yqe3bt08HaCacgjF4EFmPcYghRAGQiRern2Zt3rL5y5cvvnwZjNjGgDXZIcgMk/6azJWKRdmhGbJ7gliGdV1IFKjs5vGDGmahgImo/fDhw1sxg/8FC+NuPOKgfWyZsz5ioPpgEimg8IGtEFCyVLCCcsFpOBNOsSh8PbEAMB6S0GPs29P9IG699da6m266qXH+/PmNlRWV0xITEg1CE4nwEFWg+KCp2JX907sPlBqWoS4Irf83PgwMgwULvB2rjN3tJ9oPbXpu06vPPPNMO3ceH9EFSA7ah+ZlLCxhUDQd2FM8FNXShoo8TVI057nRaJhiD2wwA36fCCt6uHQYNA4mg0beEYAsaJQ1A4mampoScy+am5C2Ol8v/Xq90+y4ZsbxU47lMBA81GX4vn8uXwb3eKht2rSpHaCwauBibigEbhbLD1mbMZQXlC1KUY7GixcwjMFgNinlD2pH0JkYvhybG4Z/3wCAGsBToKFTAp2SfqwqCzrKedzo3Pyw5OSFO8h1MpLKYYf3KbaASRbaEwClAMKHzmD9m+FNCDDQDT5aMTIqlyemVg1B8EFVLIXUz0+hy0zoMgbORCNNNDI8LANwg3cKgKguGEhOI2ZqSh/YMBhBWRmU9QEJmiORpxiCjtvQVwySjffbAUDQn+xFyWCnRjkJiAb86qBoKck/7IOmmMYnBtFA/dSpU9wbExaxDovYQCMNKNMAMF5vsgLOnq0I6vLzB6QRq/tID2ARhUxgAKPc4eSB5TBgfX19DIgK2PcLQFJl/LE8KjO4HM50NcRgwAr/0GrAIh0zjYZd7jC7grWoxiYIOkWIBceBBPmFBPcl7kt8DN7fDDod6CgVT5kyxcFHUwChXS6HNWvWjBqkcEfLJYKHJicYND5ySf0AaeiAQAfExIkTBWYuwtBQZTs7O1XM5ywC4WMEuJaIgzaGfsDjXaMeiXoUy2pra+XHH38cDK2Aaeran5jKsKAai22agfWKnEBYoKsYNpuKgyM9wfGBsOTcC5m12TgMIoXywvc+dSLyBC0nDp8RU7GvD7N5QchTx/9lvMn/AJGqk7361U+LAAAAAElFTkSuQmCC');
    background-size: 50px 40px;
  }

  &__img {
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__header-button {
    margin-left: auto;
  }

  &__row {
    display: flex;
  }
}
