@import '../../styles/common/login';

.title {
  margin-top: 64px;
}

.main {
  margin-top: 84px;
}

.row-button {
  margin-top: 79px;
  text-align: center;
  display: flex;
  justify-content: center;
}
