@import '../../styles/common/login';

.form__title {
  margin-top: 64px;
}

.form__main {
  margin-top: 84px;
}

.form__row-button {
  margin-top: 79px;
  text-align: center;
  display: flex;
  justify-content: center;
}
