@import '../../styles/layout/colors';
@import '../../styles/layout/variables';
@import '../../styles/layout/mixins';

.header {
  background-color: var(--background-secondary);

  &__wrap {
    height: $headerHeight;
    padding: 0 1em;
    display: flex;
    align-items: center;

    @include wrap;
  }

  &__logo {
    display: block;
    border: 2px solid $white;
    border-radius: 3px;
    padding: 5px 15px;
    font-size: 1.5em;
    transition: border .3s, color .3s;
    font-family: 'Cabin Sketch', cursive;

    &:hover {
      border-color: rgba($light-blue, .4);
      color: $light-blue;
    }
  }

  &__nav {
    margin-left: auto;
    display: flex;
    list-style-type: none;
  }

  &__list {
    margin-left: 2em;
  }

  &__link {
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 0;
      background-color: var(--text);
      transition: width .1s;
    }

    &_active {
      &:after {
        width: 100%;
      }
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}
