@import '../../styles/layout/colors';

.form-field {
  margin-bottom: 15px;
  text-align: left;

  &__input {
    margin-bottom: .5rem;
  }

  &__label {
    display: block;
    font-size: 1.6rem;
    color: $grey;
    width: 280px;
  }

  &__label-text {
    padding-left: .5rem;
  }

  &__textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    display: block;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;

    &:focus {
      border-color: $light-blue;
      box-shadow: 0 0 5px 0.2em rgba($light-blue, .25);
    }
  }

  &__error {
    font-size: 1.6rem;
    color: $red;
    padding-left: .5rem;
  }
}
