@import '../../styles/layout/colors';
@import '../../styles/layout/variables';

.item-forum {
  min-height: calc(100vh - #{$headerHeight});
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  flex-direction: column;

  &__comments {
    flex: 1 1 auto;
  }
}
